:root{
    --primary: #3772FF;
    --secundario:#36D6AD;
    --detalhe:#FC7071;
    --texto:#FCF0E3;
    --texto-campo:#737380;
    --texto-branco: #FFFFFF;
    --fundo-branco:#FFFFFF;
    --fundo-campo:#F7F7F7;

}