.titulo{
    font-family: var(--font-ibmPlex);
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;

    color: var(--texto-branco);
}

.subtitulo{
    font-family: var(--font-ibmPlex);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.titulo__botao{
    font-family: var(--fonte-poppins);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--texto-branco);
}

.titulo__card{
    font-family: var(--fonte-poppins);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary);
}

.texto{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--texto-branco);
}

.texto__card{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--texto-campo);
}

.texto__card--pequeno{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--texto-campo);
}

.texto__card--pequeno2X{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: var(--texto-campo);
}

.texto__campo{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--texto-campo);
}

.texto-azul{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary);
}