.logo__icon{
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
      background-size: 64vw;
    }
  
    .cabecalhoContainer__icon > img {
      width: 128px;
      height: 30px;
    }
    
    .logo__icon {
      display: inline;
    }
  }