
body{
    background-color: var(--primary);
    background-image: url(../img/login/Forma\ 2.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 25vh;
    background-size: 20%;
}

.cabecalho{
    background-image: url(../img/login/Forma\ 1.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 35vh;
}

.cabecalhoContainer__icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 54vw;
    height: 16vh;

}

.cabecalhoContainer__icon > img{
    width: 24px;
    height: 24px;
}

.cabecalhoContainer__logo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    padding: 5% 0 0 0;
    width: 100vw;
    height: 14vh;
}

.cabecalhoContainer__logo > img{
    width: 12em;

}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100%;

}

.container > p{
    width: 248px;
    text-align: center;
}

.botao{
    text-decoration: none;
    text-align: center;
    background-color: var(--detalhe);
    border-radius: 6px;
    
    padding: 8px 28px 8px 28px;

    width: 50%;
    
}

