@media  screen and (min-width: 768px) {
    .container{
        background-color: var(--fundo-branco);
        background-image: url(../img/cadastro/Forma\ 2.svg);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: 40vh;
        background-size: 20%;
    }

    .titulo__campo{
        width: 50%;
    }
}