header{
    position: relative;
    background-image: url(./image/header1.svg);
    background-repeat: no-repeat;

    z-index: 0;
    padding: 8% 0 0 0;
    width: 100vw;
    height: 290px;
}

.menu{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50px;
}