@import url(./reset.css);
@import url(./cores.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./main.css);
@import url(./fontes.css);
@import url(./componentes.css);

body {
  background-color: var(--fundo);
}

.bemvindo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100px;
}

.bemvindo__logo {
  width: 50%;
}

.cricaoconta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 200px;
}

.cricaoconta__titulo1--center {
  text-align: center;
  width: 70%;
}

.logo2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo2 > img {
  width: 200px;
}

.texto--tablet {
  display: none;
}

.cricaoconta{
    width: 100%;
}

.cricaoconta > a{
    width: 60%;
}
@media screen and (min-width: 768px) {
  .bemvindo {
    height: 25%;
  }

  .bemvindo > .bemvindo__logo {
    width: 30%;
  }

  .texto--mobile {
    display: none;
  }

  .texto--tablet {
    display: block;
  }

  .cricaoconta__titulo1--center {
    width: 100%;
  }

  .cricaoconta {
    width: 40%;
    height: 250px;
  }

  .cricaoconta > a{
    width: 100%;
}
}
